
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>
<body background="../albertslund.jpg"></body>


<p> Velkommen på arbejde 
    <br/>
    Vi fra Albertslunds Kommune ønsker dig god arbejdslyst. 
    <br/>
    <i>"Vi samarbejder for Albertslund" </i>
</p>

