
@{
    ViewBag.Title = "Home";
}

<body style="background-image: url('../Shared/albertslund.jpg')">
<h3>
    Velkommen på arbejde
    <br />
    <br />
    Vi fra Albertslunds Kommune ønsker dig god arbejdslyst.
    <br />
    <br />
    <i>"Vi samarbejder for Albertslund" </i>
</h3>
</body>

