@using System.Security.Policy
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <form method="post">
        <fieldset class="">
            <legend>Log ind</legend>
            E-mail <br>
            <input type="text" name="email"><br>
            Password <br>
            <input type="password" name="password">
            <br />
            <button type="submit" name="login" onserverclick="location.ref='@Url.Action("RetProfil")'"> Login</button>
        </fieldset>
    </form>
</div>