@using System.Security.Policy
@{
    ViewBag.Title = "Home Page";
}

<h1>Albertslund Homecare</h1>
<div class="jumbotron">
    <h1>Log ind</h1>
    <form>
        E-mail <br>
        <input type="text" name="email"><br>
        Password <br>
        <input type="password" name="password">
        <br/>
        <button type ="submit" name="login" onserverclick="location.ref='@Url.Action("RetProfil")'"> Login</button>
    </form> 

</div>