<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/a475437f-267e-4bf7-ae6b-cf61fa3330c8/resourceGroups/AlbertslundHjemmepleje/providers/Microsoft.Web/sites/AlbertslundHjemmepleje</ResourceId>
    <ResourceGroup>AlbertslundHjemmepleje</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://albertslundhjemmepleje.azurewebsites.net/people/login</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>albertslundhjemmepleje.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AlbertslundHjemmepleje</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$AlbertslundHjemmepleje</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Albertlund_HjemmeplejeContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Albertlund_Hjemmepleje.Models.Albertlund_HjemmeplejeContext, Albertlund Hjemmepleje" MigrationConfiguration="Albertlund_Hjemmepleje.Migrations.Configuration, Albertlund Hjemmepleje" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Albertlund_HjemmeplejeContext2" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|Albertlund_HjemmeplejeContext2-20180523120714.mdf;Initial Catalog=Albertlund_HjemmeplejeContext2-20180523120714;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Albertlund_HjemmeplejeContext2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=Albertlund_HjemmeplejeContext2-20180523120714; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|Albertlund_HjemmeplejeContext2-20180523120714.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Entities" Order="3" Enabled="True">
          <Destination Path="Data Source=tcp:albertslund.database.windows.net,1433;Initial Catalog=AlberslundDB;User ID=svendber@albertslund.database.windows.net;Password=HerKommerSvend69" Name="Data Source=tcp:albertslund.database.windows.net,1433;Initial Catalog=AlberslundDB;User Id=svendber@albertslund.database.windows.net;Password=HerKommerSvend69;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Albertlund_HjemmeplejeContext-20180517093415.mdf;Initial Catalog=Albertlund_HjemmeplejeContext-20180517093415;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Entities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.logModel.csdl|res://*/Models.logModel.ssdl|res://*/Models.logModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\Albertlund_HjemmeplejeContext-20180517093415.mdf;initial catalog=Albertlund_HjemmeplejeContext-20180517093415;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AlberslundDB" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:albertslund.database.windows.net,1433;Initial Catalog=AlberslundDB;Persist Security Info=False;User ID={svendber};Password={HerKommerSvend69};Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AlberslundDB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:albertslund.database.windows.net,1433;Initial Catalog=AlberslundDB;Persist Security Info=False;User ID={svendber};Password={HerKommerSvend69};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AlberslundDB-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Albertlund_HjemmeplejeContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Albertlund_HjemmeplejeContext2-Web.config Connection String" />
    <MSDeployParameterValue Include="Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.logModel.csdl|res://*/Models.logModel.ssdl|res://*/Models.logModel.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:albertslund.database.windows.net,1433;initial catalog=AlberslundDB;user id=svendber@albertslund.database.windows.net;password=HerKommerSvend69;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>